<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</head>
<body>
<div>
    <form action="/image" enctype="multipart/form-data" method="post">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit" class="btn">Login</button>
    </form>
</div>
</body>
</html>
